body {
  height: 100000px;
}
.m-sideNav {
  width: 205px;
}
.m-sideNav li.active > ul {
  display: block;
}
.m-sideNav li ul {
  display: none;
  padding-left: 0;
}
.m-sideNav li ul li {
  list-style: none;
}
.m-sideNav li ul a {
  display: block;
  padding: 5px 30px;
  font-weight: 500 !important;
}
.m-sideNav li ul a:hover {
  background-color: #eee;
}
.m-sideNav li > a {
  padding: 5px 20px;
}
.m-sideNav .active > a {
  margin-left: -2px;
  border-left: 2px solid #ddd;
  font-weight: 700;
}
.section {
  margin-bottom: 100px;
}
.section h1 {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.section h2 ~ p {
  font-size: 16px;
}
.section .styles {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}
.section-type .styles h1,
.section-type .styles h2,
.section-type .styles h3,
.section-type .styles h4,
.section-type .styles h5,
.section-type .styles h6 {
  margin: 0 0 10px;
  padding: 0;
}
.section-type .styles p {
  font-size: 14px;
}
